			<div class="main" id="ylf-write">
				<ul class="links cls">
					<li class="first"><a href="/manage/">Manage My Blog</a></li>
					<li><a href="/blog/anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg/">View My Blog</a></li>

				</ul>
				<%# form_for :slot, :html => { :id => "blogForm" } do |f| %>
				<% form_for :slot, @slot, :url => slot_path(@slot), :html => { :id => "blogForm", :method => :put } do |f| %> 
				  <%= f.error_messages %>

				<%# form_for :slot, :url => slot_path(@slot), :html => { :id => "blogForm" }  do |f| -%>
					<%= render :partial => "form", :object => f %>
					<!-- </form> -->
				<% end %>
			</div>

