
		<div class="main idx">
			
<div id="ylf-hdrbar" class="cls">

	<h1>Shine Opportunities</h1>
	
	<p><%= d = Date.today;d.strftime("%A, %B %d, %Y" ) %></p>
	
	<%# <ul class="feeds cls"><li class="first"><a href="http://add.my.yahoo.com/rss?url=http%3A%2F%2Fshine.yahoo.com%2Frss%2Fblog%2Fchannel%2Fbeauty%2F" class="myyahoo" title="My Yahoo!"><span><!-- --></span>Add to My Yahoo!</a></li><li><a href="http://shine.yahoo.com/rss/blog/channel/beauty/" class="rss" title="RSS"><span><!-- --></span>RSS</a></li></ul> # enable after content concept worked out %>

</div>


<!-- editor's pics backend needs work 
	<div id="ylf-all-filter">editor’s picks | <a href="/channel/beauty/all/">raw feed</a></div>

			
<div class="mod feature cls">
	<ul class="cols col3">
			<li>
		<a href="/channel/beauty/red-carpet-fashion-the-best-worst-and-everything-in-between-at-the-sag-awards-358234/#photoViewer=1" class="img"><img src="http://l.yimg.com/jn/util/anysize/203*151c-86400,http%3A%2F%2Fa323.yahoofs.com%2Fphugc%2FbBk3LyU7YwSI%2Fphotos%2Fc2a1049984c38105e81109b39e9ab42c%2Fmr_4bf13bf99a4740.jpg%3Fug_____DhLFHvZ7N" alt="The SAG Awards: Some good, some crap" height="151" width="203"></a>
		<div class="attr">
			
			<h2><a href="/channel/beauty/red-carpet-fashion-the-best-worst-and-everything-in-between-at-the-sag-awards-358234/#photoViewer=1" class="lnk">The SAG Awards: Some good, some crap</a></h2>
			<cite> </cite>
			<p>We watched the whole (kind of boring) show and rounded up the thespians who looked amazing and those who, well, not so much. <a href="/channel/beauty/red-carpet-fashion-the-best-worst-and-everything-in-between-at-the-sag-awards-358234/#photoViewer=1" class="more">Read More »</a></p>
		</div>
	</li>
		<li>
		<a href="/channel/beauty/have-you-tried-the-21-best-body-washes-ever-made-yet-356246/#photoViewer=1" class="img"><img src="http://l.yimg.com/jn/util/anysize/203*151c-86400,http%3A%2F%2Fa323.yahoofs.com%2Fphugc%2FbBk3LyU7YwSI%2Fphotos%2Ff0c6af1fd99c3b35b22969acf75c57f7%2Fmr_6866f476664d0c.jpg%3Fug_____DzDCwHFnB" alt="The best body washes ever" height="151" width="203"></a>
		<div class="attr">
			
			<h2><a href="/channel/beauty/have-you-tried-the-21-best-body-washes-ever-made-yet-356246/#photoViewer=1" class="lnk">The best body washes ever</a></h2>
			<cite> </cite>
			<p>The women of Total Beauty asked consumers: Which bath products do you really like? Here's where they tell us the results and give recommendations for an array of budgets. <a href="/channel/beauty/have-you-tried-the-21-best-body-washes-ever-made-yet-356246/#photoViewer=1" class="more">Read More »</a></p>
		</div>
	</li>
		<li class="last">
		<a href="/channel/beauty/user-post-please-help-me-with-my-skin-355945/" class="img"><img src="http://l.yimg.com/jn/util/anysize/203*151c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fhp2%2Fc1.ten_years_younger.jpg" alt="User post: Help me with my skin!" height="151" width="203"></a>
		<div class="attr">
			
			<h2><a href="/channel/beauty/user-post-please-help-me-with-my-skin-355945/" class="lnk">User post: Help me with my skin!</a></h2>
			<cite> </cite>
			<p>A reader keeps getting suckered into buying expensive beauty products that do nothing. She asks you: What do you use on your face that actually works? <a href="/channel/beauty/user-post-please-help-me-with-my-skin-355945/" class="more">Read More »</a></p>
		</div>
	</li>
	
	</ul>

</div>
-->

			
<div id="ylf-ch-idx1" class="posts first">
	<ul>
		<% if !@slots.blank? %>
		    <%= render :partial => "slot_summary", :collection => @slots %>
			
		<% else %>
		  <li>
		  	no slots listed
		  </li>
		<% end %>
		

	</ul>
</div>


<div class="pgnav cls">
	<%= will_paginate @slots %>
</div>
<!--		<div class="pgnav cls"><span class="prev"><b>◄</b> prev</span><span>1</span><a href="/channel/beauty/?pg=2">2</a><a href="/channel/beauty/?pg=3">3</a><a href="/channel/beauty/?pg=4">4</a><a href="/channel/beauty/?pg=5">5</a><a href="/channel/beauty/?pg=6">6</a><a href="/channel/beauty/?pg=7">7</a><a href="/channel/beauty/?pg=8">8</a><a href="/channel/beauty/?pg=9" class="last">9</a><span class="next"><a href="/channel/beauty/?pg=2">next <b>►</b></a></span></div> -->
</div>

