		<div class="main" id="ylf-write">
			<ul class="links cls">
				<li class="first"><a href="/manage/">Manage My Slots</a></li>
				<li><a href="/blog/anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg/">View My Slots</a></li>

			</ul>
			
			<% form_for :slot, :url => slots_path, :html => { :id => "blogForm" }  do |f| -%>
			<%= render :partial => "form", :object => f %>
						<!-- </form> -->
						<% end %>
		</div>

