<%# start shine form %>
<% form_for :slot, :url => slots_path, :html => { :id => "blogForm" }  do |f| -%>
<%= render :partial => "form", :object => f %>
			<!-- </form> -->
			<% end %>
<%# finish shine form %>