		<div class="main" id="ylf-write">
			<ul class="links cls">
				<li class="first"><a href="/manage/">Manage My Slots</a></li>
				<li><a href="/">View My Slots</a></li>

			</ul>
			
			<% form_for :slot, :url => slots_path, :html => { :id => "blogForm" }  do |f| -%>
			<%= render :partial => "form", :object => f %>
						<!-- </form> -->
						<% end %>
		</div>
		
		<% content_for(:sidebar) do %>
		
			<%= render :partial => 'sidebar_new_or_edit' %>
		<% end %>		

