@CHARSET "UTF-8";
#ygma{font:13px/1.231 verdana,sans-serif;text-align:center;margin:0;padding:0;color:#000;*font-size:small;*font:x-small;
  }
#ygmaheader{margin:0;padding:0;
  }
#ygmatop{margin:0;padding:5px 0;width:100%;font-size:77%;border:0 none;text-align:left;
  }
ul#ygmanav{display:inline;padding-left:1px;margin:0;list-style-image:none;list-style-position:outside;list-style-type:none;float:left;width:37%;
  }
#ygma #ygmapromo{float:left;text-align:center;width:20%;
  }
#ygmatop a:link,#ygmatop a:visited,#ygmatop a:active{text-decoration:none;
  }
#ygmatop a:hover{text-decoration:underline;
  }
#ygmatop #ygmahelp{position:static;right:auto;margin:0 .6em 0 0;padding-left:.8em;display:inline;float:left;
  }
#ygmatop .lst{white-space:nowrap;text-decoration:none;padding:0 1em 0 0;margin:.45em 0 0 0;
  }
#ygmatop ul.menu{position:absolute;list-style:none;margin:0;padding:0;z-index:9999;white-space:nowrap;
  }
#ygmatop ul.menu li{padding:.3em .7em;
  }
#ygmatop ul.menu li a{display:block;padding:0;margin:0;
  }
#ygmatop ul.menu li.last-child{margin-bottom:-1px;*margin-top:-1px;*position:relative;float:none;_float:left;
  }
* html #ygma #ygmasrchfrm{position:relative;float:left;
  }
#ygmatop ul.menu li.last-child a{margin-left:-1px;
  }
#ygmatop div#ygmauserinfo{float:right;padding-right:.2em;margin:0;
  }
#ygmauseroptions li{padding-bottom:.5em;white-space:nowrap;
  }
ul#ygmauseroptions a{padding:0;
  }
#ygmabot{display:block;text-align:right;overflow:hidden;width:100%;padding:0 0 .7em 0;
  }
#ygmalogo{padding:.9em 0 0 .85em;position:relative;float:left;
  }
#ygmalogo img{border:0 none;
  }
#ygma .srch{display:inline;text-align:left;float:right;margin:10px 10px 0 0;padding:0;
  }
#ygma form{margin:0 -1px 0;text-align:left;display:block;font-size:100%;padding:.3em .3em .3em .4em;
  }
#ygmasrchfrm div.fieldset{display:block;float:none;border:0 none;padding:2px 3px 2px .3em;margin:0;background-color:#FFF;color:#000;overflow:hidden;_float:left;*padding:3px 4px 2px .3em;
  }
#ygmasrchfrm .fieldset label{padding:.1em .5em 0 1.8em;float:left;line-height:1.6em;font-size:77%;
  }
#ygmasrchfrm{display:inline;margin:0;padding:0;
  }
#ygma .ygmasrchimg{float:left;width:18px;height:15px;padding:0 0 0 .3em;_padding-right:1.3em;
  }
#ygmasrchbtn{padding:1px 1em;margin:0;display:block;font-family:verdana,sans-serif;font-size:.76em;font-weight:bold;border:medium none;background-color:transparent;line-height:1.45em;cursor:pointer;text-transform:uppercase;* padding:1px 1em 0 1em;* display:inline-block;* line-height:1;* overflow:visible;
  }
#ygmasrchquery{padding:0 0 2px 0;margin:0;font-family:verdana,sans-serif;font-size:78%;float:left;vertical-align:middle;width:20em;*width:20.6em;
  }
#ygma .btn{float:left;border-style:solid;border-width:1px 0;border-color:#F4AC33;padding:0;margin:0 0 0 3px;display:-moz-inline-box;
  }
#ygma .btn .first-child{border-style:solid;border-width:0 1px;border-color:#F4AC33;margin:0 -1px;display:block;vertical-align:top;*display:inline-block;*position:relative;*left:-1px;
  }
#ygma .txtdistinct{font-weight:bold;display:block;
  }
#ygma .yid{font-weight:bold;display:block;
  }
#ygma .offscrn{display:block;left:-99999px;position:absolute;
  }
#ygmamyyhp,#ygmatoolbar{visibility:visible;font-weight:bold;
  }
#ygmauserinfo em{font-style:normal;font-weight:bold;
  }
#ygma #ygmausername{color:#666;
  }
#ygma .pseudolink:hover{text-decoration:underline;cursor:pointer;
  }
#ygma em ul{font-weight:normal;
  }
#ygma .txtbold ul{font-weight:normal;
  }
#ygma abbr{border:0 none;
  }
#ygma .sprite_bg{background-image:url(http://l.yimg.com/a/i/us/uh/bt2/sprite_v1.png);
  }
#ygma .bd{width:100%;background-position:-0px -793px;background-repeat:repeat-x;
  }
#ygmatop{background-position:-0px -683px;background-repeat:repeat-x;color:#666;
  }
#ygmatop a{color:#666;
  }
#ygmanav a{color:#666;
  }
#ygmauserinfo a{color:#666;
  }
#ygma #ygmabot{background:none;
  }
#ygma .srch{border-bottom:1px solid #BDCFD7;border-top:1px solid #BDCFD7;background-position:-0px -173px;background-repeat:repeat-x;
  }
#ygma form{border-left:1px solid #BDCFD7;border-right:1px solid #BDCFD7;
  }
#ygma .lst{background-position:100% 4px;background-repeat:no-repeat;
  }
#ygma .delim{background-position:100% -53px;background-repeat:no-repeat;padding:0 .9em 0 .8em;display:inline;float:left;
  }
#ygmanav li.last-child{padding:0 .9em 0 .8em;display:inline;float:left;
  }
#ygmanav li.last-child ul li,#ygmahelp ul li{display:block;
  }
#ygma ul.menu li{border-right:1px solid #B9B9B9;background:none;
  }
#ygma ul.menu{background-position:-0px -383px;background-repeat:repeat-x;color:#000;
  }
#ygmatop ul.menu li.last-child{border-bottom:1px solid #B9B9B9;
  }
#ygmamyyhp,#ygmatoolbar{color:#000;
  }
#ygma .txtdistinct{color:#000;
  }
#ygma .yid{color:#000;
  }
#ygmasrchfrm div.fieldset label{background-position:-0px -110px;background-repeat:no-repeat;
  }
#ygma .btn{background-position:-0px -293px;background-repeat:repeat-x;
  }
#ygmatop #ygmauseroptions{color:#000;
  }
#ygmatop ul#ygmauseroptions li{color:#000;border-right:1px solid #B9B9B9;
  }
#ygmatop #ygmauseroptions li.last-child{background:#FCFCFC;color:#000;border-bottom:1px solid #B9B9B9;border-top:1px dotted #D4D4D6;
  }
#ygmashpd{font:normal x-small verdana,sans-serif;position:relative;top:8px;left:-200px;display:block;background-color:#CCC;-moz-border-radius:4px;
  }
#ygmashpd{background:#ccc;z-index:9998;position:absolute;
  }
#ygma #ygmashpd .bd{border:1px solid #4333BC;width:360px;background:#fff;position:relative;top:-2px;left:-2px;z-index:9999;color:#333;-moz-border-radius:4px;
  }
#ygmashpd .myyhpbg{background-image:url(http://l.yimg.com/a/i/us/uh/bt2/myyhp_sprite_v1.gif);
  }
#ygmashpd #pnt{position:absolute;top:-6px;left:70%;width:11px;height:6px;font-size:0;background-repeat:no-repeat;background-position:-29px -0px;
  }
#ygmashpd .ygmashp{width:40px;height:37px;font-size:0;line-height:0;top:10px;left:10px;display:block;position:absolute;background-repeat:no-repeat;background-position:-0px -16px;
  }
#ygmashpd .ygmashp strong{display:none;
  }
#ygmashpd ol#ygmahpinstr{margin:9px 9px 9px 60px;padding:0 0 0 1.5em;list-style-type:decimal;list-style-position:outside;* padding:0;
  }
#ygmashpd .hr{border-color:#ccc;margin:0 19px 5px;
  }
#ygmashpd p{margin:0 9px 9px;text-align:center;
  }
#ygmashpd a#ygmashpdclose,#ygmashpd a#ygmashpdetails{color:#000;text-decoration:underline;
  }
#ygmatop:after{content:" ";display:block;height:0;clear:right;visibility:hidden;
  }
#ygmatop ul.menu li.last-child a{zoom:1;
  }
#ygma .hidden{display:none;
  }
#ygma .visible{display:block;
  }
#ygmaIframeShim{border:0 none;position:absolute;
  }
body{margin:0 4px;
  }
