<h1>Listing users</h1>

<table>
<thead>
  <tr>
    <th>Name</th>
    <th colspan="2">Actions</th>
  </tr>
</thead>
<% for @person in @users %>
  <tr>
    <td><%= link_to h(@person.login), user_path(@person) %></td>
    <td><%= link_to 'Edit', edit_user_path(@person) %></td>
    <td><%= link_to 'Destroy', user_path(@person), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br />

<%= link_to 'New user', new_user_path %>