<div id="ylf-all-filter">editor&rsquo;s picks | <a href="/channel/health/all/" >raw feed</a></div>

<div class="mod feature line cls">
	<div class="hd"></div>
	<div class="bd">
		<ul class="cols col3">
				<li>
		<a href="/channel/health/yoga-decoder-ashtanga-bikram-and-more-351157/;_ylt=AssVieDKsSPjzqfOCe0EjTFqbqU5" class="img"><img src="http://l.yimg.com/jn/util/anysize/203*151c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fhealth%2F1%2F%2Fyogastand2.jpg" width="203" height="151" alt="Your yoga decoder"/></a>
		<div class="attr">
			
			<h2><a href="/channel/health/yoga-decoder-ashtanga-bikram-and-more-351157/;_ylt=AiOemQjfn1A0V45HDQsmMxNqbqU5" class="lnk">Your yoga decoder</a></h2>

			<cite> </cite>
			<p>Bikram, Ashtanga, Kundalini -- no need to be confused. We break down the most popular types of yoga so you can find the right kind of class for you. <a href="/channel/health/yoga-decoder-ashtanga-bikram-and-more-351157/;_ylt=Atc_7n2JSctEGBIu1yK9ZGNqbqU5" class="more">Read More &raquo;</a></p>
		</div>
	</li>
		<li>
		<a href="/event/new-year-new-you/trendy-diets-done-right-the-vegan-diet-351111/;_ylt=AgrZYiqReZ9beeoTivZVX9pqbqU5" class="img"><img src="http://l.yimg.com/jn/util/anysize/203*151c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fhealth%2F1%2F%2Fvegplate2.jpg" width="203" height="151" alt="Could you really go vegan?"/></a>
		<div class="attr">

			
			<h2><a href="/event/new-year-new-you/trendy-diets-done-right-the-vegan-diet-351111/;_ylt=AjTnHhc8Wj7F3CRxfeJMt3dqbqU5" class="lnk">Could you really go vegan?</a></h2>
			<cite> </cite>
			<p>Ever wonder if you have the willpower to give up milk, meat, and other animal products? We break down a vegan diet to see if it's right for you. <a href="/event/new-year-new-you/trendy-diets-done-right-the-vegan-diet-351111/;_ylt=ApUOr4mnsZMKm5eA9gLrrBpqbqU5" class="more">Read More &raquo;</a></p>
		</div>
	</li>
		<li class="last">
		<a href="/channel/health/my-favorite-cold-relief-the-most-soothing-tea-ever-352273/;_ylt=ArOtXZ8DgiHWNZRaTeRnSNNqbqU5" class="img"><img src="http://l.yimg.com/jn/util/anysize/203*151c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fhealth%2F1%2F%2Fgingertea2.jpg" width="203" height="151" alt="Cold relief that comes in a cup"/></a>

		<div class="attr">
			
			<h2><a href="/channel/health/my-favorite-cold-relief-the-most-soothing-tea-ever-352273/;_ylt=Ards85d2Mie9RvsvuFUHZiRqbqU5" class="lnk">Cold relief that comes in a cup</a></h2>
			<cite> </cite>
			<p>We all have our own little home remedies that ease the aches and pains. This simple tea is sure to soothe your cold symptoms. <a href="/channel/health/my-favorite-cold-relief-the-most-soothing-tea-ever-352273/;_ylt=AgyB4k8_9cv4yXOLyjj0f6pqbqU5" class="more">Read More &raquo;</a></p>
		</div>
	</li>
	
		</ul>

	</div>
	<div class="ft"></div>
</div>
