    <div id="ylf-foot">
      <div class="doc">
        <h3 class="foot-logo">
          <a href="/;_ylt=AlZp9LJFL334Jie9GOyqoN8Qb6U5">Shine</a>
        </h3>
        <ul class="foot-nav">
          <li class="first">
            <a href="/page/guidelines/;_ylt=AiPmwdqIl5CeB6sQycuFjogQb6U5">Community Guidelines</a>
          </li>
          <li>
            <a href="/page/sitemap/;_ylt=AhUcEsrG.JLYfDhMXu.VF8UQb6U5">Sitemap</a>
          </li>
          <li>
            <a href="/page/about/;_ylt=AndAFYfhKUMzEqermoNkSAkQb6U5">About Us</a>
          </li>
          <li class="last">
            <a href="/page/rss/;_ylt=AhAM3hVZ123mWq4n6XBRMW0Qb6U5">RSS Directory</a>
          </li>
        </ul>
        <ul class="foot-legal">
          <li class="first">
            <a href="/suggestons">Questions or Comments</a>
          </li>
          <li>
            <a href="/info/privacy/">Privacy Policy</a>
          </li>
          <li>
            <a href="/info/utos-173.html">Terms of Service</a>
          </li>
          <li>
            <a href="/info/copyright/">Copyright/IP Policy</a>
          </li>
          <li class="last">
            <a href="/info/help">Help</a>
          </li>
        </ul>
        <p class="foot-copyright">
          Copyright &copy; 2008 Ocean Shore School All rights reserved.
        </p>
        <p class="foot-legal">
          Ocean Shore School Shine and the blogs, articles, comments and other features therein are for informational purposes only and provided "as is" without warranties, representations, or guarantees of any kind. Content on Ocean Shore School Shine should never be used as a substitute for advice from a qualified professional. Ocean Shore School shall not be liable for the accuracy, usefulness or availability of any Shine content, and you agree to hold Ocean Shore School harmless from any loss, harm, injury or damage resulting from or arising out of your use of or reliance on any Shine content. The views and opinions expressed in an article or column are the author's own and not necessarily those of Ocean Shore School.
        </p>
      </div>
    </div><script type="text/javascript" src="http://us.js2.yimg.com/us.js.yimg.com/lib/rt/rto1_78.js">
</script><script type="text/javascript">
var rt_page="967143184:FRTMA"; var rt_ip="76.252.216.248"; if ("function" == typeof(rt_AddVar) ){ rt_AddVar("ys", escape("C7ABA342"));}
    </script><noscript><img src="http://rtb.pclick.yahoo.com/images/nojs.gif?p=967143184:FRTMA"></noscript><!-- SpaceID=967143184 loc=FSRVY noad -->
