<div id="ylf-super-footer" class="doc">
	<div class="mn-hd"><h2>Right Now on Shine</h2></div>
	<div class="mn-bd">
		<div class="row first cls">
		
			<div class="mod channel">
				<div class="hd">
					<h2><a href="/channel/beauty/;_ylt=AlJC339dV0svEXRMTX_fYg9rbqU5" >Fashion + Beauty</a></h2>

				</div>
				<div class="bd">
				<h3><a href="/channel/beauty/sarah-palin-update-the-180-000-wardrobe-and-a-new-makeover-356776/;_ylt=Agao.QKgxt1Sf9ga08yJ9_5rbqU5" >Sarah Palin update: The $180,000 wardrobe and a new makeover</a></h3>
				<ul class="blt">
					<li><a href="/channel/beauty/five-reasons-to-prime-356640/;_ylt=AujV7uQ8TkOh4.W.B6GwKQdrbqU5" >Five Reasons to Prime</a></li><li><a href="/channel/beauty/vacation-all-i-ever-wanted-356622/;_ylt=AiHfX4DNSdPuouVZVvQA0M5rbqU5" >Vacation, all I ever wanted</a></li>
				</ul>
				</div>

				<div class="ft"><a href="/channel/beauty/;_ylt=AoMIl9Jsr27js9S5zRGIMkhrbqU5" class="more">More in Fashion + Beauty &raquo;</a></div>
			</div>

		
		<div class="mod channel col2">
			<div class="hd">
				<h2><a href="/channel/health/;_ylt=AlmqBaaZ.xvH.F9d2gFDpPVrbqU5" >Healthy Living</a></h2>
			</div>
			<div class="bd">

				<h3><a href="/event/new-year-new-you/can-you-name-3-healthy-habits-you-already-have-357993/;_ylt=ArakRLEoKorUzi5amX3rjL1rbqU5" >Can you name 3 healthy habits you already have?</a></h3>
				<ul class="blt">
					<li><a href="/channel/health/are-you-laid-back-and-friendly-you-may-have-a-lower-dementia-risk-356577/;_ylt=AhhFpnKZWREsiltGOFSF2Z1rbqU5" >Are you laid-back and friendly? You may have a lower dementia risk</a></li><li><a href="/channel/health/obama-will-give-federal-funding-back-to-family-planning-organizations-can-he-unite-us-around-this-abortion-issue-356792/;_ylt=AjElIIZv2NoZTxjC6kFLEuhrbqU5" >Obama will give federal funding back to family-planning organizations: Can he unite us around this abortion issue?</a></li>
				</ul>
			</div>
			<div class="ft"><a href="/channel/health/;_ylt=AszUgk8RHR1l8l5IxyUjJo9rbqU5" class="more">More in Healthy Living &raquo;</a></div>
		</div>

		
		<div class="mod channel">
			<div class="hd">
				<h2><a href="/channel/entertainment/;_ylt=AhlRdnYYAjYU52hFWj66sB5rbqU5" >Entertainment</a></h2>
			</div>
			<div class="bd">
				<h3><a href="/channel/entertainment/sarah-palin-wants-11-million-for-her-book-advance-356746/;_ylt=Akyk8NKList7U1BrTtRyHeVrbqU5" >Sarah Palin wants $11 million for her book advance</a></h3>
				<ul class="blt">

					<li><a href="/channel/entertainment/celebs-faux-modesty-what-rsquo-s-up-with-saying-they-slept-through-oscar-nomination-announcements-356685/;_ylt=AlTc0RsZoCGP3cQnxwzHo35rbqU5" >Celebs faux modesty: What&rsquo;s up with saying they slept through Oscar nomination announcements?</a></li><li><a href="/channel/entertainment/never-thought-we-rsquo-d-see-the-day-elisabeth-hasselbeck-makes-sense-356663/;_ylt=An7pfP1EU2AyphG2JOqmSLxrbqU5" >Never thought we&rsquo;d see the day: Elisabeth Hasselbeck makes sense</a></li>
				</ul>
			</div>
			<div class="ft"><a href="/channel/entertainment/;_ylt=AkebALMyW9H.BFeQUi6vJd9rbqU5" class="more">More in Entertainment &raquo;</a></div>
		</div>

	</div>

	<div class="row cls">
		
		<div class="mod channel">
			<div class="hd">
				<h2><a href="/channel/parenting/;_ylt=Ag4E_7KhA9vqEi_cMNOyMgxrbqU5" >Parenting</a></h2>
			</div>
			<div class="bd">
				<h3><a href="/channel/parenting/mom-of-tweens-three-super-sites-to-teach-your-kids-about-service-and-giving-back-356889/;_ylt=An3tt2vy5e.zS4gWcTr5IWtrbqU5" >Mom of Tweens: Three super sites to teach your kids about service and giving back</a></h3>
				<ul class="blt">

					<li><a href="/channel/parenting/astrology-com-daily-momscopes-monday-january-26-2009-356866/;_ylt=ApaTJoB1NvKHpLHHvzaLVvhrbqU5" >Astrology.com Daily MomScopes - Monday January 26, 2009</a></li><li><a href="/channel/parenting/help-i-keep-losing-my-temper-around-my-kids-355532/;_ylt=AvrQNuhm_NAA4FQsWk9orqRrbqU5" >Help! I Keep Losing My Temper Around My Kids!</a></li>
				</ul>
			</div>
			<div class="ft"><a href="/channel/parenting/;_ylt=AtkZuKjuCvqsHqS4LRfX5SFrbqU5" class="more">More in Parenting &raquo;</a></div>
		</div>

		
		<div class="mod channel col2">
			<div class="hd">

				<h2><a href="/channel/sex/;_ylt=AiSBNOZZhS6n48s2mMGW7CxrbqU5" >Love + Sex</a></h2>
			</div>
			<div class="bd">
				<h3><a href="/event/frangela/the-down-and-dirty-guide-to-dating-dealbreakers-357885/;_ylt=Ars1PN6tx4H_eRQiyO2OX7ZrbqU5" >The down-and-dirty guide to dating: Dealbreakers</a></h3>
				<ul class="blt">
					<li><a href="/channel/sex/user-post-when-lesbian-fantasies-backfire-on-men-356783/;_ylt=Amf3hxt_Bnfc9B3LYgT6UmZrbqU5" >User post: When Lesbian Fantasies Backfire On Men</a></li><li><a href="/channel/sex/user-post-the-french-discover-another-great-sex-secret-356811/;_ylt=AgZOhVFxcBXtrso265wYdu1rbqU5" >User post: The French Discover Another Great Sex Secret</a></li>
				</ul>

			</div>
			<div class="ft"><a href="/channel/sex/;_ylt=AhEwOQ_yhESx9BdiFTr3DCRrbqU5" class="more">More in Love + Sex &raquo;</a></div>
		</div>

		
		<div class="mod channel">
			<div class="hd">
				<h2><a href="/channel/money/;_ylt=AiOcfYt8dbUDcbR94g9sfnlrbqU5" >Work + Money</a></h2>
			</div>

			<div class="bd">
				<h3><a href="/channel/money/are-you-a-mac-or-a-pc-356558/;_ylt=AlAgymp82wKpUbfBIjX1BC9rbqU5" >Are you a Mac or a PC?</a></h3>
				<ul class="blt">
					<li><a href="/channel/money/12-bonus-money-saving-tips-to-cope-during-a-recession-355904/;_ylt=Av0wsM0WIccRYhgrHuQN44JrbqU5" >12 bonus money-saving tips to cope during a recession</a></li><li><a href="/channel/money/friday-quot-office-quot-poll-how-much-time-have-you-killed-at-work-debating-nonsense-356551/;_ylt=AtBi8KzJGLjiZ3ygOErfUzRrbqU5" >Friday &quot;Office&quot; poll: How much time have you killed at work debating nonsense?</a></li>
				</ul>
			</div>

			<div class="ft"><a href="/channel/money/;_ylt=Apk8hGI8zuNmBLwbtB3uOpdrbqU5" class="more">More in Work + Money &raquo;</a></div>
		</div>

	</div>
	<div class="row last cls">
		
		<div class="mod channel">
			<div class="hd">
				<h2><a href="/channel/food/;_ylt=AkPUfm6VBsFwaaQ6s6s.fCFrbqU5" >Food</a></h2>

			</div>
			<div class="bd">
				<h3><a href="/channel/food/dream-kitchen-style-356381/;_ylt=Apj.WMvEEWQi73CkkGt.OJ5rbqU5" >Dream Kitchen: Style</a></h3>
				<ul class="blt">
					<li><a href="/channel/food/the-best-organic-american-beers-356742/;_ylt=AosqYH8FvbdVTXfknIGPVZ5rbqU5" >The Best Organic American Beers</a></li><li><a href="/channel/food/the-beauty-of-the-cheese-cart-356720/;_ylt=AqgXi9IK2ef7MGOUmms8bANrbqU5" >The Beauty of the Cheese Cart</a></li>
				</ul>
			</div>

			<div class="ft"><a href="/channel/food/;_ylt=AvscfsV0E7hblwt3WBQRAJJrbqU5" class="more">More in Food &raquo;</a></div>
		</div>

		
		<div class="mod channel col2">
			<div class="hd">
				<h2><a href="/channel/home/;_ylt=AlYJUh_yMFQvaYz9JnTcF4drbqU5" >At Home</a></h2>
			</div>
			<div class="bd">

				<h3><a href="/channel/home/wearable-fiber-art-356534/;_ylt=An.DXuZEs730W9zYZGCw8EBrbqU5" >wearable fiber art</a></h3>
				<ul class="blt">
					<li><a href="/channel/home/do-over-on-january-26-you-ve-got-another-chance-to-ring-in-the-new-year-356211/;_ylt=AiIQudtI.z.T.MPZkod1qbxrbqU5" >Do-over! On January 26, you've got another chance to ring in the new year</a></li><li><a href="/event/new-year-new-you/3-simple-affordable-diy-projects-356523/;_ylt=AidFIEfXO0R6SRTv8HRVYZRrbqU5" >3 simple, affordable DIY projects</a></li>
				</ul>
			</div>
			<div class="ft"><a href="/channel/home/;_ylt=AsxounO0zplRPFraaE8EMDJrbqU5" class="more">More in At Home &raquo;</a></div>
		</div>

		
		<div class="mod channel">
			<div class="hd">
				<h2><a href="/channel/community/;_ylt=AnITYjJanZwgsWXQZFHKMuFrbqU5" >Speak Up</a></h2>
			</div>
			<div class="bd">
				<h3><a href="/channel/community/remembering-9-11-257253/;_ylt=Ar.WI.Oiyx4mJ710MAW8KZ1rbqU5" >Remembering 9/11</a></h3>
				<ul class="blt">

					<li><a href="/channel/community/now-it-s-your-turn-shine-readers-thoughts-on-sarah-palin-250336/;_ylt=AknH0fdXrJHAz8ENd45TCzdrbqU5" >Now it’s your turn: Shine readers’ thoughts on Sarah Palin</a></li><li><a href="/channel/community/why-we-re-perplexed-by-sarah-palin-249634/;_ylt=AryV.vN6jiMKFze.AjYjXDBrbqU5" >Why we’re perplexed by Sarah Palin</a></li>
				</ul>
			</div>
			<div class="ft"><a href="/channel/community/;_ylt=AqfWSjlBlHFTuAwQa_g1vqFrbqU5" class="more">More in Speak Up &raquo;</a></div>
		</div>

	</div>
</div>

