<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	
	<title>Are These Women &quot;Hot&quot;? - Fashion + Beauty on Shine</title>
	<meta name="description" lang="en" content="Last week on &quot;The Office,&quot; the staff spent the day (and most of the episode) debating whether Hilary Swank was hot or not. Totally absurd -- but it sparked a debate at my apartment about &quot;hot&quot; vs. &quot;attractive&quot; and what…"/>	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" charset="UTF-8" href="http://l.yimg.com/jn/css/20090129191543/base.css">

	<script type="text/javascript" charset="UTF-8" src="http://l.yimg.com/jn/js/20090129191543/ylf_core.js"></script>

	
	
	

</head>
<body id="ylf-ch-beauty">
<div id="wrapper">
	<!-- no eyebrow content -->
	<link type="text/css" rel="stylesheet" href="http://l.yimg.com/a/lib/uh/css/uh-1.1.3.css">
<style type="text/css">#ygma .sprite_bg{background-image:url(http://l.yimg.com/a/i/us/uh/bt2/shine_sprite_v1.gif);}#ygma .bd{background:none;}#ygma{background:none;}#ygma .srch{border-bottom:1px solid #D1D1D1;border-top:1px solid #D1D1D1;}#ygma .srch .srchinner{border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1;background-position:-0px -173px;background-repeat:repeat-x;}#ygma #ygmatop #ygmauseroptions{background:#FCFCFC;color:#000;}#ygma #ygmatop #ygmauseroptions li{background:#fff;color:#000;border-right:1px solid #B9B9B9;}#ygma #ygmatop #ygmauseroptions li.last-child{background:#ECECEC;color:#666;border-bottom:1px solid #B9B9B9;border-top:1px dotted #D4D4D6;}#ygma #ygmabot{font-family:verdana, sans-serif;font-size:1em;}#ygma #ygmabot label {font-weight: normal;}#ygma #ygmabot input {font-size: 78%;}#ygma a {font-family: verdana, sans-serif;}</style><script type="text/javascript" charset="utf-8">(function(){var B={};var A=function(){B=YAHOO.one.uh.hotlistInfo={rd:"http://us.ard.yahoo.com",space:"/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=0",adid:"5509525",prop:"yliving",protocol:"http",host:"shine.yahoo.com",url:"%2fchannel%2fbeauty%2fare-these-women-quot-hot-quot-361074%2f",aliasid:"rocketeer_capt.proton",shortaliasid:"rocketeer_capt.pr...",pvid:"WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr",shortfname:"Carl B"};YAHOO.one.uh.translate=function(C){var D={yahoo_homepage:"http://www.yahoo.com",hp_detect_script:"http://www.yahoo.com/includes/hdhpdetect.php",set_hp_script:"http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=1/SIG=11te3u6o2/*http://www.yahoo.com/bin/set",set_hp_firefox_instructions:['Drag the "Y!" and drop it onto the "Home" icon.','Select "Yes" from the pop up window.',"Nothing, you're done."],close_this_window:"Close this window",set_hp_alternative_instructions1:"If this didn't work for you see ",detailed_set_hp_instructions:"detailed instructions",set_hp_alternative_instructions2:""};return D[C]};YAHOO.one.uh.accountOptions=[["Profile","http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=2/SIG=000000000/*http://profiles.yahoo.com/u/"+B.pvid],["Contacts","http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=3/*http://profiles.yahoo.com/contacts.php"],["Applications","http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=4/*http://apps.yahoo.com/myapps"],["Account Info","http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=5/SIG=11juka5l7/*https://edit.yahoo.com/config/eval_profile?.done="+B.protocol+"://"+B.host+B.url+"&.src=shine&.intl=us"],["You are signed in as: <span class='yid' title='"+B.aliasid+"'>"+B.shortaliasid+"</span>",B.aliasid]];YAHOO.one.uh.yahooServices=[["News","http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=6/SIG=000000000/*http://news.yahoo.com"],["Sports","http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=7/*http://sports.yahoo.com"],["Finance","http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=8/*http://finance.yahoo.com"],["Entertainment","http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=9/*http://entertainment.yahoo.com"]]};if("undefined"!==typeof YAHOO&&"undefined"!==typeof YAHOO.one&&"undefined"!==typeof YAHOO.one.uh){A()}else{setTimeout(arguments.callee,500)}})();</script><div id="ygma"><div id="ygmaheader"><div class="bd sprite_bg"><div id="ygmatop" class="sprite_bg"><ul id="ygmanav"><li class="sprite_bg delim"><a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=10/SIG=10np9vmbm;_ylt=AuPYz0JxKt3.aYD1R_nLYS1pbqU5/*http://www.yahoo.com/" target="_top">Yahoo!</a></li><li class="sprite_bg delim"><a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=11/SIG=10m97m5i1;_ylt=AloKbzkfUTsXc1OOVXddYVJpbqU5/*http://my.yahoo.com/" target="_top">My Yahoo!</a></li><li class="sprite_bg delim"><a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=12/SIG=10od5rqfs;_ylt=AllboCl7L5uDbFQGzKqfA9hpbqU5/*http://mail.yahoo.com/" target="_top">Mail</a></li><li class="last-child"><a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=13/SIG=119rld6dj;_ylt=Ag_xoCsPg4mOJdc90taITWxpbqU5/*http://docs.yahoo.com/docs/family/more/" class="stop_key_nav" id="ygmamore" target="_top">More<span class="offscrn"> Yahoo! Services</span></a></li></ul><div id="ygmapromo"><a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=14/SIG=10uacnjgh;_ylt=Al2C438JI0scKcBlwoAamXppbqU5/*http://www.yahoo.com/bin/set" id="ygmamyyhp" class="stop_nav" target="_top">Make <abbr class="stop_nav" title="Yahoo!">Y!</abbr> My Homepage</a><a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=15/SIG=117bakia1;_ylt=AlXAn9uM2U5XE5MvdZFCG_xpbqU5/*http://toolbar.yahoo.com/?.cpdl=ushdl" id="ygmatoolbar" class="hidden" target="_top">Get Yahoo! Toolbar</a></div><script type="text/javascript" charset="utf-8">(function(){var C=document.getElementById("ygmamore");var A=document.getElementById("ygmamyyhp");var B=document.getElementById("ygmatoolbar");C.className+=((""==C.className)?"":" ")+"sprite_bg lst yltasis";A.className+=((""==A.className)?"":" ")+"yltasis yltiefix";B.className+=((""==A.className)?"":" ")+"yltasis yltiefix";if(document.cookie.indexOf("HP=")>-1){A.style.display="none";B.style.display="block"}else{B.style.display="none"}if(document.cookie.indexOf("CP=")>-1){B.style.display="none"}})();</script><div id="ygmauserinfo"><h2 class="offscrn">Account Options</h2><span class="sprite_bg delim"><em>Hi, <a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=16/SIG=1261urjh8;_ylt=ApT0UO_WpSZ3TfAVdvpKQkxpbqU5/*http://profiles.yahoo.com/u/WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr" class="stop_key_nav" id="ygmausername" title="Carl B" target="_top">Carl B</a></em></span><a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=17/SIG=138e3q7ru;_ylt=AoBA5zXGY.HAEKvByvHNJMZpbqU5/*https://login.yahoo.com/config/login?logout=1&.direct=2&.done=http://www.yahoo.com&.src=shine&.intl=us" class="sprite_bg delim" target="_top">Sign Out</a><a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=18/SIG=119gftd94;_ylt=AlyYnpP6vIUMn.Q35Llr0.FpbqU5/*http://help.yahoo.com/l/us/yahoo/shine/" id="ygmahelp" target="_top" title="Yahoo! Help Central">Help</a></div><script type="text/javascript" charset="utf-8">(function(){var A=document.getElementById("ygmausername");A.className+=((""==A.className)?"":" ")+"sprite_bg lst"})();</script></div><div id="ygmabot" class="sprite_bg"><a href="http://us.ard.yahoo.com/SIG=153tu8k0b/M=650008.12746706.13301487.12041688/D=yliving/S=967143017:HEAD/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Ex.0C9j8ek4-/J=1233466227920608/A=5509525/R=19/SIG=10oifeke6;_ylt=ArFCGoO3SHUqLkoyamsUuUJpbqU5/*http://shine.yahoo.com" id="ygmalogo" target="_top"><img width="263" height="58" src="http://l.yimg.com/a/i/us/shine/gr/uh_logo_y.gif" alt="Yahoo! Shine"></a><div class="srch sprite_bg"><form name="ygmasrchfrm" id="ygmasrchfrm" action="http://srd.yahoo.com/loc=head&st=yahoo/*http://search.yahoo.com/search" method="GET"><div class="fieldset"><label for="ygmasrchquery" class="sprite_bg"><span class="offscrn">Yahoo! </span>Search</label><input id="ygmasrchquery" type="text" name="p" maxlength="100"><span class="btn sprite_bg"><span class="first-child"><button name="ygmasrchbtn" id="ygmasrchbtn" value="web search" type="submit">web search</button></span></span><input type="hidden" id="fr" name="fr" value="ush-shine"></div></form></div></div></div></div></div><script charset="utf-8" type="text/javascript" src="http://l.yimg.com/a/lib/uh/js/uh-1.3.0.js"></script><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['Ex.0C9j8ek4-']='&U=13gs85uke%2fN%3dEx.0C9j8ek4-%2fC%3d650008.12746706.13301487.12041688%2fD%3dHEAD%2fB%3d5509525%2fV%3d1';

</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=142nntovv%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2487105188%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13gs85uke%2fN%3dEx.0C9j8ek4-%2fC%3d650008.12746706.13301487.12041688%2fD%3dHEAD%2fB%3d5509525%2fV%3d1"></noscript>
		<div id="ylf-nav" class="nav">
		<ul class="cls">
			<li class="first selected"><a href="/channel/beauty/;_ylt=Ap4HG6NPgW0TuzikXEnYcCNpbqU5" >Fashion + Beauty</a></li><li><a href="/channel/health/;_ylt=AvNUXWKddCJp4bBmclaW3btpbqU5" >Healthy Living</a></li><li><a href="/channel/entertainment/;_ylt=Au3WUl4dKYJKKIqB1furmfppbqU5" >Entertainment</a></li><li><a href="/channel/parenting/;_ylt=At0HahDPll8iW7tNnCgQbohpbqU5" >Parenting</a></li><li><a href="/channel/sex/;_ylt=AqRwHDH68UBGYQyqR_mi8xdpbqU5" >Love + Sex</a></li><li><a href="/channel/money/;_ylt=ArUEOXm22tXi5xOVIB55QU9pbqU5" >Work + Money</a></li><li><a href="/channel/food/;_ylt=AoskFhehdtUgJIJzKi5g861pbqU5" >Food</a></li><li><a href="/channel/home/;_ylt=Atakx26EX3mVnjUikCAsLfRpbqU5" >At Home</a></li><li><a href="/astrology/;_ylt=AsQb86yxuCySJ8jV9UaT6VxpbqU5" >Astrology</a></li>

		</ul>
	</div>
	<div id="ylf-subnav">
		<!-- -->
		<div class="nav"><span class="title">Related Topics:</span> <ul class="topics cls"><li class="first"><a href="/topic/shoes;_ylt=AomV_eLylEvAa4DXJbIa0qBpbqU5" >shoes</a></li><li><a href="/topic/clothes;_ylt=AiXniqcGKZvx2Y757DbJS9lpbqU5" >clothes</a></li><li><a href="/topic/hair;_ylt=AjT30zg.jna7JmwuCj7a4nJpbqU5" >hair</a></li><li><a href="/topic/makeup;_ylt=AgFyu0HNmIVdIEIz0WKWJt9pbqU5" >makeup</a></li><li><a href="/event/the-thread/;_ylt=Aj5mbhJtlBM2pymYXKh4qUZpbqU5" >the thread</a></li></ul></div>

	</div>
	
	
<div id="ylf-searchbar">
	<form action="/search" name="searchform">
		<label for="p">Search Lifestyles for:</label>
		<input type="text" value="" size="32" id="p" name="p"/>
		<button type="submit">Search Shine</button>
	</form>
</div>

	<div id="ylf-nt1"><SCRIPT LANGUAGE="JavaScript">
var mh_target="_blank";
var mh_URL=new Array();
mh_URL[1]="http://us.ard.yahoo.com/SIG=15201ouvm/M=717110.13182422.13383732.12313456/D=yliving/S=967143017:NT1/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Eh.0C9j8ek4-/J=1233466227920608/A=5605270/R=0/id=flashlink1/SIG=1270uci33/*http://www.herbalessences.com/us/collections/hydralicious/default.jsp";
mh_URL[2]="http://us.ard.yahoo.com/SIG=15201ouvm/M=717110.13182422.13383732.12313456/D=yliving/S=967143017:NT1/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Eh.0C9j8ek4-/J=1233466227920608/A=5605270/R=1/id=flashlink2/SIG=120g7kgn7/*http://herbalessences.eprize.net/hydralicious/?affiliate_id=2a";
var mh_fv="clickTAG="+mh_URL[1]+"&clickTAG2="+mh_URL[2];
var mh_swf="http://ads.yimg.com/a/a/cl/clairol/herbal_jamba_954x60_flashonly.swf";
var mh_altURL="http://us.ard.yahoo.com/SIG=15201ouvm/M=717110.13182422.13383732.12313456/D=yliving/S=967143017:NT1/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Eh.0C9j8ek4-/J=1233466227920608/A=5605270/R=2/id=altimg/SIG=1270uci33/*http://www.herbalessences.com/us/collections/hydralicious/default.jsp";
var mh_altimg="http://ads.yimg.com/a/a/cl/clairol/he_jfm_backup.jpg";
var mh_w=954;
var mh_h=60;
</SCRIPT>
<script src="http://ads.yimg.com/a/a/1-/jscodes/flash8/mh_20081114.js"></script>
<noscript><a href="http://us.ard.yahoo.com/SIG=15201ouvm/M=717110.13182422.13383732.12313456/D=yliving/S=967143017:NT1/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Eh.0C9j8ek4-/J=1233466227920608/A=5605270/R=3/id=noscript/SIG=1270uci33/*http://www.herbalessences.com/us/collections/hydralicious/default.jsp" target="_blank">
<img src="http://ads.yimg.com/a/a/cl/clairol/he_jfm_backup.jpg" width="954" height="60" border="0"></a>
</noscript>
<script type="text/javascript" src="http://amch.questionmarket.com/adsc/d448481/17/541349/randm.js"></script><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['Eh.0C9j8ek4-']='&U=13fb5608f%2fN%3dEh.0C9j8ek4-%2fC%3d717110.13182422.13383732.12313456%2fD%3dNT1%2fB%3d5605270%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=142v0kav7%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2274816989%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13fb5608f%2fN%3dEh.0C9j8ek4-%2fC%3d717110.13182422.13383732.12313456%2fD%3dNT1%2fB%3d5605270%2fV%3d1"></noscript></div>
	
	<div id="ylf-blog" class="doc cls">
		<div class="main" id="ylf-blog-main">
			
<div id="ylf-hdrbar" class="cls">

	<h2>Fashion + Beauty</h2>
	
	<p>Saturday, January 31, 2009</p>
	
	<ul class="feeds cls"><li class="first"><a href="/subscriptions/add;_ylt=AnVLwQcKTjWLKOub9axloedpbqU5?yuid=aeNgkMW.nZpEBsX9XPaRBpIs2J7Ax4LY14UscjtMf&display_name=The+chicks+at+TotalBeauty.com%E2%80%99s" class="subscribe"><span><!-- --></span>Subscribe to This Blog</a></span></li><li><a href="http://us.lrd.yahoo.com/_ylt=AmMb.WkMJICt9BfUG_NCteRpbqU5/SIG=13mbvspmn/**http%3A//add.my.yahoo.com/rss%3Furl=http%253A%252F%252Fshine.yahoo.com%252Frss%252Fblog%252Fchannel%252Fbeauty%252F" class="myyahoo" title="My Yahoo!"><span><!-- --></span>Add to My Yahoo!</a></li><li><a href="http://us.lrd.yahoo.com/_ylt=AgQOkcDx8gRPd5d4XHoud1NpbqU5/SIG=11kpuq13d/**http%3A//shine.yahoo.com/rss/blog/channel/beauty/" class="rss" title="RSS"><span><!-- --></span>RSS</a></ul>

</div>


			
			

<p style="color: green"><%= flash[:notice] %></p>

<%= yield :layout %>
`
			
  	
		</div>
		<div class="side">
				<div id="ylf-you" class="mod">

		<div class="hd cls">
					<a href="/blog/anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg/;_ylt=An03vwni.l707ys24NW.36FpbqU5" class="avatar"><img src="http://f3.yahoofs.com/coreid/48081d11i5fbzul2sp1/RZiYObMjdKWKE.pfuJaRG6G3tXfJU5p20RiecdA-/1/tn48.jpg?ciAkbsJBSzzD48hq" width="48" height="48" alt="CaptProton's avatar"/></a>
		<div class="greets boxed">
			<h3>hello, CaptProton</h3>
			<a href="http://us.lrd.yahoo.com/_ylt=ArmIbmiYmf1Ac.n4n66kUn9pbqU5/SIG=13q0i23gu/**http%3A//login.yahoo.com/config/login%3F.src=shine%26logout=1%26.done=http%253A%252F%252Fwww.yahoo.com%252F%26.direct=2" class="first">Sign Out</a>
		</div>
		</div>
		<div class="bd">

			<ul class="cls">
				<li class="email new"><a href="http://us.lrd.yahoo.com/_ylt=AuKbto_kav_mCVpkYvRzAJZpbqU5/SIG=10rfos93v/**http%3A//mail.yahoo.com/" >Mail <span>254 New</span></a></li>
				<li class="weath sep" title="Partly Cloudy"><a href="http://us.rd.yahoo.com/dailynews/rss/weather/Pacifica__CA;_ylt=AmdJbsxbjr0rJTAGEfsFTnppbqU5/*http://weather.yahoo.com/forecast/94044_f.html" style="background:#fff url(http://l.yimg.com/jn/util/anysize/26*26c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fwe%2F52%2F29.gif) no-repeat 5px 0;">50&deg; F</a></li>
				<li class="horo sep"><a href="/astrology/;_ylt=AhJY8A4LLESSS7BL7JBXkb5pbqU5" >Horoscopes</a></li>
			</ul>
						<p>Let’s talk:
				<a href="/blog/anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg/;_ylt=ApdRHPnnvorfcn403CagC5RpbqU5" class="nobg">My Blog</a>

				<a href="/manage/;_ylt=AkS28OqD2coBZppfqy3KUs5pbqU5" >Manage</a>
				<a href="/my/;_ylt=Ap_F_7R2EGi53trANBlJ3PlpbqU5" >My Stuff</a>
				<a href="/write/;_ylt=Ah1F9GH6H77EQq4dg8dQM9JpbqU5" >Write a Post</a>
			</p>
		</div>
	</div>
			<div id="ylf-lrec" class="line"><table border="0" cellpadding="0" cellspacing="0" class="ad_slug_table"><tr><td align="center"><span class="ad_slug"><font face="Arial" size="-2" class="ad_slug_font">ADVERTISEMENT</font><br /></span>

<!--Vendor: AdInterax, Format: Polite (No Video) -->
<SCRIPT>
// <!--  Standard Inventory Ad; ID:17356; ad:Herbal/Jamba/Herbal_Essences_Jamba_300x250; account:256; size:300x250; (by adinterax)  -->
// (c) 2009 adInterax, All Rights Reserved, http://adinterax.com
// LOAD THIS PAGE INSIDE THE IFRAME
//adx_U_17356="[ your-click-through-URL-goes-here ]";
adx_D_17356="http://us.ard.yahoo.com/SIG=153obd9hv/M=717110.13182424.13381706.12241552/D=yliving/S=967143017:LREC/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=DR.0C9j8ek4-/J=1233466227920608/A=5604083/R=0/*";
//adx_I_17356="[ your-impression-track-pixel-URL-goes-here ]";
adx_data_17356="A=256,AN=Herbal%2fJamba%2fHerbal_Essences_Jamba_300x250,AC=,AV=,PB=1/SIG=15f7e7sci,X=1233466227,B=5604083,K=6WL5pNRqgO_BQNMbZvzLyA--,C=717110.13182424.13381706.12241552,D=LREC,Z=,R=yliving,P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr,E=967143017,Y=YAHOO,V=1.0";
function adl_17356(){
var d=document,r=d.referrer,i,a,b='ad',e,p=new Array("data","U","D","I");
var u="http://richmedia.yimg.com/js/256/Herbal/Jamba/Herbal_Essences_Jamba_300x250";
if(top!=self){try{a=''+top.location}catch(e){}
if(a){adxid=Math.random();b='ad-iframe'}else if(r){
u=((r&&(i=r.indexOf("/",9))>0)?r.substring(0,i):r)+"/adx-iframe-v3.html#ad="+u;
for(i=0;i<4;i++)eval("if(typeof(adx_"+p[i]+"_17356)!='undefined')u+='&adx_"+p[i]+"_17356='+escape(adx_"+p[i]+"_17356)");
d.write('<IFRAME NAME="adxi" SRC="'+u+'" WIDTH=300 HEIGHT=250 MARGINWIDTH=0 MARGINHEIGHT=0 FRAMEBORDER=0 SCROLLING=no></IFRAME>');
return}}d.write('<SCRIPT SRC="'+u+'/'+b+'.js?q=1231870941"></SCR'+'IPT>')}
adl_17356();
</SCRIPT>
<NOSCRIPT><A HREF="http://us.ard.yahoo.com/SIG=153obd9hv/M=717110.13182424.13381706.12241552/D=yliving/S=967143017:LREC/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=DR.0C9j8ek4-/J=1233466227920608/A=5604083/R=1/id=noscript/*http://ts.richmedia.yahoo.com/re/A=256,AN=Herbal%2fJamba%2fHerbal_Essences_Jamba_300x250,AC=,AV=,PB=1/SIG=15f7e7sci,X=1233466227,B=5604083,K=6WL5pNRqgO_BQNMbZvzLyA--,C=717110.13182424.13381706.12241552,D=LREC,Z=,R=yliving,P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr,E=967143017,Y=YAHOO,V=1.0/0/0/tc,c:noscript/http://www.herbalessences.com/us/collections/hydralicious/default.jsp"><IMG SRC="http://ts.richmedia.yahoo.com/re/A=256,AN=Herbal%2fJamba%2fHerbal_Essences_Jamba_300x250,AC=,AV=,PB=1/SIG=15f7e7sci,X=1233466227,B=5604083,K=6WL5pNRqgO_BQNMbZvzLyA--,C=717110.13182424.13381706.12241552,D=LREC,Z=,R=yliving,P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr,E=967143017,Y=YAHOO,V=1.0/0/0/in,ti/http://richmedia.yimg.com/customer/25/256/Herbal/HE_Jamba_OMA_300x250_default.jpg?adxq=1227636750" BORDER=0></A></NOSCRIPT></td></tr></table>
<script type="text/javascript" src="http://amch.questionmarket.com/adsc/d448481/4/541347/randm.js"></script><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['DR.0C9j8ek4-']='&U=13gp0v3v8%2fN%3dDR.0C9j8ek4-%2fC%3d717110.13182424.13381706.12241552%2fD%3dLREC%2fB%3d5604083%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=142pga7kh%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2223618975%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13gp0v3v8%2fN%3dDR.0C9j8ek4-%2fC%3d717110.13182424.13381706.12241552%2fD%3dLREC%2fB%3d5604083%2fV%3d1"></noscript></div>
			    <div id="ylf-lrec-lz" class="line">
		<iframe id="ylf-darla-LRECLZ" frameborder="0"></iframe>
		<script language="javascript" type="text/javascript">
		YAHOO.namespace('YAHOO.Lifestyles.MM');
		YAHOO.Lifestyles.MM.loadedLRECLZ = false;
		YAHOO.Lifestyles.MM.loadAdsLRECLZ = function() {
			if (window.YAHOO.ads.darla) {
				YAHOO.ads.darla.setConfig ({ callFrame:"ylf-darla-LRECLZ", callScript:"/darla-fc", rotation:0, autoRotation:false, property:"yliving", destinationMap:{}, events: { "eventLRECLZ":{ lv:2, npv:true, sp:"967143017", ps:"LREC", em:escape('{"site-attribute":"content=no-expandable;", "ad-logoption":"NOINVENTORY"}') } } });
				YAHOO.ads.darla.event ('eventLRECLZ', { lv:2 } );
				YAHOO.util.Event.removeListener( window, "scroll", YAHOO.Lifestyles.MM.loadAdsLRECLZ);
			}
		}
		</script>

	</div>
			
<div id="ylf-cheat-sheet" class="mod line">
	<div class="hd cls">
		<div id="ylf-logo"><!-- SpaceID=967143017 loc=LOGO noad -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['EB.0C9j8ek4-']='&U=12calrgep%2fN%3dEB.0C9j8ek4-%2fC%3d-1%2fD%3dLOGO%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=1426o5ec5%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2496724169%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=12calrgep%2fN%3dEB.0C9j8ek4-%2fC%3d-1%2fD%3dLOGO%2fB%3d-1%2fV%3d0"></noscript></div>
		<h2>Fashion + Beauty <span>Cheat Sheet</span></h2>
	</div>

	<div class="bd">
		<ol class="nums">
			<li class="num1"><span><!-- --></span><div><a href="/channel/beauty/beauty-pageants-in-danger-of-extinction-359024/;_ylt=Ap8cUJgySSjcmwQPqik60QVpbqU5" >Should beauty pageants be a thing of the past?</a></div></li><li class="num2"><span><!-- --></span><div><a href="/channel/beauty/does-cheapie-drugstore-wrinkle-cream-work-like-expensive-stuff-we-tested-359251/;_ylt=Aj_JhdweRH2oSE2AyYdGZ1JpbqU5#photoViewer=1" >Splurge vs. save—wrinkle creams that really work</a></div></li><li class="num3"><span><!-- --></span><div><a href="/channel/beauty/red-carpet-fashion-the-best-worst-and-everything-in-between-at-the-sag-awards-358234/;_ylt=AiqV3i_nhJrrOLVE13z312dpbqU5#photoViewer=1" >Red carpet style: The best and worst at the SAG awards</a></div></li><li class="num4"><span><!-- --></span><div><a href="/channel/beauty/is-michelle-obama-obligated-to-wear-black-designers-356655/;_ylt=AkGD1hCri6zu1dt84YP4iwdpbqU5" >Michelle Obama angers black designers</a></div></li>
		</ol>
	</div>
</div>

			

			
<div id="ylf-vitality" class="mod line">
	<div class="hd"><h2>Updates <span>Chatter on Shine...</span></h2></div>
	<div class="bd">

		<ul class="thumbs">
						<li>
				<a href="/blog/avt6oeUvyYPnw9p9rB7EPA5ldoX.rIS9N/;_ylt=AtgVrgRiDd.CmUh7gq.wjqhpbqU5" class="img"><img width="32" height="32" alt="DiannezzM's Avatar" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
				<div class="txt">
					<a href="http://us.rd.yahoo.com/Updates/wisteria/SIG=16p53bjl2;_ylt=AtuzXR1d252KO.DYWs3nBfFpbqU5/*http%3A//shine.yahoo.com/channel/none/its-february-361809/" class="title">iTS feBRuArY!</a>
					<cite>by <a href="/blog/avt6oeUvyYPnw9p9rB7EPA5ldoX.rIS9N/;_ylt=Akptj83SrlWyd_vgWu0A59dpbqU5" class="author">DiannezzM</a> <span class="rel-time" title="Sat Jan 31, 2009 9:28pm PST">2 minutes ago</span></cite>

					
				</div>
			</li>
			<li>
				<a href="/blog/aCmLhSnaIZPGgkFwT7fjyUwEudVZF/;_ylt=AvRB1uVbezWZibUNOvj_mpdpbqU5" class="img"><img width="32" height="32" alt="hoper86's Avatar" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
				<div class="txt">
					<a href="http://us.rd.yahoo.com/Updates/wisteria/SIG=16v4es9qp;_ylt=AhTh0kJMos2CKnxr2nIrfn5pbqU5/*http%3A//shine.yahoo.com/blog/aCmLhSnaIZPGgkFwT7fjyUwEudVZF/" class="title">About Me</a>
					<cite>by <a href="/blog/aCmLhSnaIZPGgkFwT7fjyUwEudVZF/;_ylt=Au6VhvPMXIpiKmHC7fs6cuJpbqU5" class="author">hoper86</a> <span class="rel-time" title="Sat Jan 31, 2009 9:24pm PST">5 minutes ago</span></cite>

					
				</div>
			</li>
			<li>
				<a href="/blog/aVmlTGwqoB9jiwleVhhkCZ74Tx8wMOZ0TVU2CFco3Q.oP9119c2JY/;_ylt=Anpm49thAbGX7U_oZEu6veZpbqU5" class="img"><img width="32" height="32" alt="redheadedstepchildgonewild's Avatar" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
				<div class="txt">
					<a href="http://us.rd.yahoo.com/Updates/wisteria/SIG=175pbjiap;_ylt=Ar3uPCxqCsWLGmSsCG9lroppbqU5/*http%3A//shine.yahoo.com/channel/home/pain-361807/" class="title">pain</a>
					<cite>by <a href="/blog/aVmlTGwqoB9jiwleVhhkCZ74Tx8wMOZ0TVU2CFco3Q.oP9119c2JY/;_ylt=Aob60SsBQQBp3vdO_7pSLnRpbqU5" class="author">redheadedstepchildgonewild</a> <span class="rel-time" title="Sat Jan 31, 2009 9:23pm PST">6 minutes ago</span></cite>

					
				</div>
			</li>
			<li>
				<a href="/blog/anNUiiB6gAOGlFqjnmWd71TuWIfuTwHszhlr5WYCb/;_ylt=AldtuKp9cLPZP8bUognGCMRpbqU5" class="img"><img width="32" height="32" alt="djgreetings.com's Avatar" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
				<div class="txt">
					<a href="http://us.rd.yahoo.com/Updates/wisteria/SIG=17n2n228v;_ylt=Ag8_NMAoh8iel3qh1Tfylr1pbqU5/*http%3A//shine.yahoo.com/blog/anNUiiB6gAOGlFqjnmWd71TuWIfuTwHszhlr5WYCb/" class="title">About Me</a>
					<cite>by <a href="/blog/anNUiiB6gAOGlFqjnmWd71TuWIfuTwHszhlr5WYCb/;_ylt=AgI2j4q8CkTXWwA6xD5mKhFpbqU5" class="author">djgreetings.com</a> <span class="rel-time" title="Sat Jan 31, 2009 9:22pm PST">8 minutes ago</span></cite>

					
				</div>
			</li>
			<li>
				<a href="/blog/aOBy6pFSADOslOpSMgZIrzPT8Kh5DQ4FzYpeD2Z83EReL/;_ylt=Aq2Gmzo8ze8wmeZFfkzN9WxpbqU5" class="img"><img width="32" height="32" alt="sweetspringblush43's Avatar" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
				<div class="txt">
					<a href="http://us.rd.yahoo.com/Updates/wisteria/SIG=178tucafp;_ylt=AmXXOU3u_.OhBQGQsX4Xn5hpbqU5/*http%3A//shine.yahoo.com/channel/none/older-and-wiser-361804/" class="title">OLDER AND WISER</a>
					<cite>by <a href="/blog/aOBy6pFSADOslOpSMgZIrzPT8Kh5DQ4FzYpeD2Z83EReL/;_ylt=AmNTAwPRFl4ktlSYrZDoRsNpbqU5" class="author">sweetspringblush43</a> <span class="rel-time" title="Sat Jan 31, 2009 9:18pm PST">12 minutes ago</span></cite>

					
				</div>
			</li>
			<li>
				<a href="/blog/aH0JsY3SAW.64TFNY_K5jmvbH5nhZdVi_VGaz/;_ylt=Av0bUQExU02jUNBWqH3CkltpbqU5" class="img"><img width="32" height="32" alt="Jules (jellybean)'s Avatar" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
				<div class="txt">
					<a href="http://us.rd.yahoo.com/Updates/wisteria/SIG=17f488tpt;_ylt=Ato44z.T6fJBP4Wx7WQJsohpbqU5/*http%3A//shine.yahoo.com/blog/aH0JsY3SAW.64TFNY_K5jmvbH5nhZdVi_VGaz/" class="title">About Me</a>
					<cite>by <a href="/blog/aH0JsY3SAW.64TFNY_K5jmvbH5nhZdVi_VGaz/;_ylt=As8zTdBvNENqIbQ4kMn6qbhpbqU5" class="author">Jules (jellybean)</a> <span class="rel-time" title="Sat Jan 31, 2009 9:15pm PST">14 minutes ago</span></cite>

					
				</div>
			</li>

		</ul>
	</div>
	<div class="ft"><a href="/chatter/;_ylt=AomPJqSfJOXVRO42g17HAjZpbqU5" class="more">See More Chatter &raquo;</a></div>
</div>

<script type="text/javascript" charset="UTF-8">YAHOO.Lifestyles.ImageLoader.delayByView({el:"ylf-vitality", cl:"lz", imgs:["http://l.yimg.com/q/users/1vo9N_-hUAAACQgE_cAhVLIsB.medium.jpg","http://l.yimg.com/a/i/identity/nopic_32.gif","http://l.yimg.com/a/i/identity/nopic_32.gif","http://f5.yahoofs.com/coreid/48868354ic0dzul3re3/ytzZvbQwd6AYVucsihLiF2wYXrloXj1M/1/tn32.png?ciAkbsJBJIPvdAU5","http://l.yimg.com/q/users/1BB8pUR4pAAED4UQdWUV8Kob7MA==.medium.jpg","http://a323.yahoofs.com/coreid/49851a0eiecczul1re3/0s.BkYA7fqpt.5EzSqIfsurPzAPSMQ--/1/tn32.jpg?ciAkbsJBgZlUxlKN"]});</script>

			
<div id="ylf-pick" class="mod line">
	<div class="hd"><h2>Fashion Pick of the Day</h2></div>
	<div class="bd">
		<a href="channel/beauty/the-wardobe-diaries-when-is-enough-well-enough-359570/;_ylt=AsdH_j0H1IGuiCl26Cent6xpbqU5" class="img"><img width="300" height="172" alt="Is it time for a wardrobe intervention?" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
		<h3><a href="channel/beauty/the-wardobe-diaries-when-is-enough-well-enough-359570/;_ylt=Ao591OcRQ27kgdbtLhRGzKlpbqU5" >Is it time for a wardrobe intervention?</a></h3>
		<ul class="thumbs">
			<li>
				<div class="txt">

					<a href="channel/beauty/the-wardobe-diaries-when-is-enough-well-enough-359570/;_ylt=AiCmicNXFMeFEpzOuHgZqpNpbqU5" >Do you have too many clothes? We do. And we wear almost all of them. This creates massive clutter and makes the people we live with not very happy at all.</a>
					
				</div>
			</li>
		</ul>
	</div>
	<div class="ft"></div>
</div>

<script type="text/javascript" charset="UTF-8">YAHOO.Lifestyles.ImageLoader.delayByView({el:"ylf-pick", cl:"lz", imgs:["http://l.yimg.com/jn/util/anysize/300*172c-86400,http%3A%2F%2Fa323.yahoofs.com%2Fphugc%2Fwb3XHSoiIHfp%2Fphotos%2F87284acbd55451a3e33ea88418cc2b6c%2Fmr_2ea6b4aa5f730a.jpg%3Fug_____DRk6E0iia"]});</script>

			
<div id="ylf-ad" class="mod line">
	<div class="hd"><h2>Drink to your hair</h2></div>
	<div class="bd">
		<p>What kind of moisture does your hair crave? Give your hair a drink with customized hydration from the new Hydralicious Collection.</p>
	</div>
	<div class="ft cls">
		<a href="http://us.lrd.yahoo.com/_ylt=AqQhd5xeBp4CUMF9JhONUD5pbqU5/SIG=12a724q9t/**http%3A//www.herbalessences.com/us/collections/hydralicious/default.jsp" class="more">Find yours &raquo;</a>

		<div id="ylf-btn2"><a href="http://us.ard.yahoo.com/SIG=153dpkufm/M=717110.13182423.13381710.12436436/D=yliving/S=967143017:BTN2/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=FB.0C9j8ek4-/J=1233466227920608/A=5604102/R=0/SIG=1270uci33;_ylt=ArOK9c5MpxZIRbdnjJsPA_RpbqU5/*http://www.herbalessences.com/us/collections/hydralicious/default.jsp" target="_blank"><img src="http://ads.yimg.com/a/a/se/seangi/120x60_byte_herbal_essences.gif" alt="" width="120" height="60" border="0"></a><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['FB.0C9j8ek4-']='&U=13ghj74tp%2fN%3dFB.0C9j8ek4-%2fC%3d717110.13182423.13381710.12436436%2fD%3dBTN2%2fB%3d5604102%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=142d1hsks%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2373803243%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13ghj74tp%2fN%3dFB.0C9j8ek4-%2fC%3d717110.13182423.13381710.12436436%2fD%3dBTN2%2fB%3d5604102%2fV%3d1"></noscript></div>
	</div>
</div>

			
<div id="ylf-discover" class="mod line">
	<div class="hd"><h2>More on Yahoo!</h2></div>
	<div class="bd">
		<ul class="thumbs">

			
			<li>
				<a href="http://us.rd.yahoo.com/evt=55011;_ylt=AlPI6QksHqKbL4g0LdyaPSBpbqU5/*http://health.yahoo.com/oralcare-inspirational-stories/the-dangers-of-bleaching-your-teeth/prevention--23239.html" class="img"><img width="74" height="74" alt="Dangers of Bleaching Your Teeth" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
				<div class="txt">
					<h4><a href="http://us.rd.yahoo.com/evt=55011;_ylt=AhsCwk_yIb808iX_O2nVM9lpbqU5/*http://health.yahoo.com/oralcare-inspirational-stories/the-dangers-of-bleaching-your-teeth/prevention--23239.html" class="title">Dangers of Bleaching Your Teeth</a></h4>
					<a href="http://us.rd.yahoo.com/evt=55011;_ylt=Arbhtgm6w5YzLkC_yR7kl.lpbqU5/*http://health.yahoo.com/" class="more">More on Yahoo! Health &raquo;</a>
				</div>
			</li>
			<li>

				<a href="http://shopping.yahoo.com/seasonals/holidays/top-10-fashion-gifts-for-women--784724657;_ylt=AiVUvVd7L260LLX9SbqxtDBpbqU5" class="img"><img width="74" height="74" alt="10 Steps to a stress-free holiday" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
				<div class="txt">
					<h4><a href="http://shopping.yahoo.com/seasonals/holidays/top-10-fashion-gifts-for-women--784724657;_ylt=AnaZvkvQdZr00YB2_cBeD45pbqU5" class="title">10 Steps to a stress-free holiday</a></h4>
					<a href="http://us.lrd.yahoo.com/_ylt=AhKY71atEpWQ8y8bzauYGglpbqU5/SIG=12ufdptdi/**http%3A//food.yahoo.com/blog/foxyfestivities/10091/10-steps-to-a-stress-free-holiday-season" class="more">More on Yahoo! Food &raquo;</a>
				</div>
			</li>
			<li>
				<a href="http://us.rd.yahoo.com/evt=55011;_ylt=AifiqVRDzQTHHZf4Rasoe3JpbqU5/*http://health.yahoo.com/experts/healthieryou/4736/add-14-years-to-your-life/" class="img"><img width="74" height="74" alt="Add 14 Years to Your Life" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>

				<div class="txt">
					<h4><a href="http://us.rd.yahoo.com/evt=55011;_ylt=Amc.Zz9hPJH8mjOZKxxJsmBpbqU5/*http://health.yahoo.com/experts/healthieryou/4736/add-14-years-to-your-life/" class="title">Add 14 Years to Your Life</a></h4>
					<a href="http://us.rd.yahoo.com/evt=55011;_ylt=AndpULc9IYAl1syvO2Fstk1pbqU5/*http://health.yahoo.com/" class="more">More on Yahoo! Health &raquo;</a>
				</div>
			</li>
			<li>
				<a href="http://personals.yahoo.com/;_ylt=ApKWtvgZvqRZtA16RSExayFpbqU5" class="img"><img width="74" height="74" alt="A New Date Awaits" src="http://l.yimg.com/jn/images/20090129191543/lz.png" class="lz"/></a>
				<div class="txt">

					<h4><a href="http://personals.yahoo.com/;_ylt=AlXWitZ8brvN00fhO1rBNNZpbqU5" class="title">A New Date Awaits</a></h4>
					<a href="http://personals.yahoo.com/;_ylt=AsuqhRyepRpD1gkvB3tfmYNpbqU5" class="more">More on Yahoo! Personals &raquo;</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="ft"></div>
</div>

<script type="text/javascript" charset="UTF-8">YAHOO.Lifestyles.ImageLoader.delayByView({el:"ylf-discover", cl:"lz", imgs:["http://l.yimg.com/jn/util/anysize/74*74c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fent%2Fmantle%2F74.oral_care.jpg","http://l.yimg.com/jn/util/anysize/74*74c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fent%2Fmantle%2F74.stress_free_holiday.jpg","http://l.yimg.com/jn/util/anysize/74*74c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fwoman_103108.jpg","http://l.yimg.com/jn/util/anysize/74*74c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fent%2Fmantle%2Fg2_glenellen_0965.jpg"]});</script>

			<div id="ylf-lrec2" class="line"><table border="0" cellpadding="0" cellspacing="0" class="ad_slug_table"><tr><td align="center"><span class="ad_slug"><font face="Arial" size="-2" class="ad_slug_font">ADVERTISEMENT</font><br /></span>
<!--Vendor: AdInterax, Format: Polite (No Video) -->
<SCRIPT>
// <!--  Standard Inventory Ad; ID:17356; ad:Herbal/Jamba/Herbal_Essences_Jamba_300x250; account:256; size:300x250; (by adinterax)  -->
// (c) 2009 adInterax, All Rights Reserved, http://adinterax.com
// LOAD THIS PAGE INSIDE THE IFRAME
//adx_U_17356="[ your-click-through-URL-goes-here ]";
adx_D_17356="http://us.ard.yahoo.com/SIG=1538dpr73/M=717110.13182421.13381703.12241552/D=yliving/S=967143017:LREC/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Dh.0C9j8ek4-/J=1233466227920608/A=5604083/R=0/*";
//adx_I_17356="[ your-impression-track-pixel-URL-goes-here ]";
adx_data_17356="A=256,AN=Herbal%2fJamba%2fHerbal_Essences_Jamba_300x250,AC=,AV=,PB=1/SIG=15f0auui0,X=1233466227,B=5604083,K=6WL5pNRqgO_BQNMbZvzLyA--,C=717110.13182421.13381703.12241552,D=LREC,Z=,R=yliving,P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr,E=967143017,Y=YAHOO,V=1.0";
function adl_17356(){
var d=document,r=d.referrer,i,a,b='ad',e,p=new Array("data","U","D","I");
var u="http://richmedia.yimg.com/js/256/Herbal/Jamba/Herbal_Essences_Jamba_300x250";
if(top!=self){try{a=''+top.location}catch(e){}
if(a){adxid=Math.random();b='ad-iframe'}else if(r){
u=((r&&(i=r.indexOf("/",9))>0)?r.substring(0,i):r)+"/adx-iframe-v3.html#ad="+u;
for(i=0;i<4;i++)eval("if(typeof(adx_"+p[i]+"_17356)!='undefined')u+='&adx_"+p[i]+"_17356='+escape(adx_"+p[i]+"_17356)");
d.write('<IFRAME NAME="adxi" SRC="'+u+'" WIDTH=300 HEIGHT=250 MARGINWIDTH=0 MARGINHEIGHT=0 FRAMEBORDER=0 SCROLLING=no></IFRAME>');
return}}d.write('<SCRIPT SRC="'+u+'/'+b+'.js?q=1231870941"></SCR'+'IPT>')}
adl_17356();
</SCRIPT>
<NOSCRIPT><A HREF="http://us.ard.yahoo.com/SIG=1538dpr73/M=717110.13182421.13381703.12241552/D=yliving/S=967143017:LREC/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Dh.0C9j8ek4-/J=1233466227920608/A=5604083/R=1/id=noscript/*http://ts.richmedia.yahoo.com/re/A=256,AN=Herbal%2fJamba%2fHerbal_Essences_Jamba_300x250,AC=,AV=,PB=1/SIG=15f0auui0,X=1233466227,B=5604083,K=6WL5pNRqgO_BQNMbZvzLyA--,C=717110.13182421.13381703.12241552,D=LREC,Z=,R=yliving,P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr,E=967143017,Y=YAHOO,V=1.0/0/0/tc,c:noscript/http://www.herbalessences.com/us/collections/hydralicious/default.jsp"><IMG SRC="http://ts.richmedia.yahoo.com/re/A=256,AN=Herbal%2fJamba%2fHerbal_Essences_Jamba_300x250,AC=,AV=,PB=1/SIG=15f0auui0,X=1233466227,B=5604083,K=6WL5pNRqgO_BQNMbZvzLyA--,C=717110.13182421.13381703.12241552,D=LREC,Z=,R=yliving,P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr,E=967143017,Y=YAHOO,V=1.0/0/0/in,ti/http://richmedia.yimg.com/customer/25/256/Herbal/HE_Jamba_OMA_300x250_default.jpg?adxq=1227636750" BORDER=0></A></NOSCRIPT></td></tr></table>
<script type="text/javascript" src="http://amch.questionmarket.com/adsc/d448481/4/541347/randm.js"></script><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['Dh.0C9j8ek4-']='&U=13gb9gmgu%2fN%3dDh.0C9j8ek4-%2fC%3d717110.13182421.13381703.12241552%2fD%3dLREC%2fB%3d5604083%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=141rc24vm%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d573713636%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13gb9gmgu%2fN%3dDh.0C9j8ek4-%2fC%3d717110.13182421.13381703.12241552%2fD%3dLREC%2fB%3d5604083%2fV%3d1"></noscript></div>
			

<div id="ylf-ysm-side" class="iysmcm ysmcm ">
    <h3>Sponsored Links</h3>
    <ul class='iysmcm-col ysmcm-col ysmcm-col1'><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmXd2_vxG9p0lfJCWxmPuuQ4yBHDNJ9hY9NgHOpDBxNooaI9Yg76P27CBK6jixFT6m8xgsPA6vBSBDEWJ6Xmu0MBBcBlmd52gAH7vVeSOCmyP0iF4PtVz2jBqcu7bDbPQAYeF7tdKPU6LxBbNz7Urelw8gSTRTyFdYWKJ51uD6wxReasGpoGeZijDSK6x5UrIXMeEQtC16D8H3aE5qMQUX6jOvXgTpHC90s.0000000073a31990">I Reversed Aging</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmXd2_vxG9p0lfJCWxmPuuQ4yBHDNJ9hY9NgHOpDBxNooaI9Yg76P27CBK6jixFT6m8xgsPA6vBSBDEWJ6Xmu0MBBcBlmd52gAH7vVeSOCmyP0iF4PtVz2jBqcu7bDbPQAYeF7tdKPU6LxBbNz7Urelw8gSTRTyFdYWKJ51uD6wxReasGpoGeZijDSK6x5UrIXMeEQtC16D8H3aE5qMQUX6jOvXgTpHC90s.0000000073a31990">When I Used 2 Well-Known Skin Care Products. Try It Out For Free.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmXd2_vxG9p0lfJCWxmPuuQ4yBHDNJ9hY9NgHOpDBxNooaI9Yg76P27CBK6jixFT6m8xgsPA6vBSBDEWJ6Xmu0MBBcBlmd52gAH7vVeSOCmyP0iF4PtVz2jBqcu7bDbPQAYeF7tdKPU6LxBbNz7Urelw8gSTRTyFdYWKJ51uD6wxReasGpoGeZijDSK6x5UrIXMeEQtC16D8H3aE5qMQUX6jOvXgTpHC90s.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">MyAgeLossDiary.com</a></li><li class='ysmcm-odd'><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmXX0mUVGmv0ppGZoKNem5mI8uBuBY2XH1l60G6vFNBInnvxAaUy2L8xufrfTKGR_JQc-VQGM3a-Tllf0x6g-X1m8fuWWjES-4r1IFHM8voYFJh4gwcMlqYnEu2xjyXpZ0p2bBakFP4DXKkjqxI67yvGtigsrqKfwoO7nwaNQj8md19KOdMyGMfQde80U8FbYEN84Nm12vnV3KGO78PljvHSyXGbw6MDd-7.0000000073a31990">1 rule of a Flat stomach</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmXX0mUVGmv0ppGZoKNem5mI8uBuBY2XH1l60G6vFNBInnvxAaUy2L8xufrfTKGR_JQc-VQGM3a-Tllf0x6g-X1m8fuWWjES-4r1IFHM8voYFJh4gwcMlqYnEu2xjyXpZ0p2bBakFP4DXKkjqxI67yvGtigsrqKfwoO7nwaNQj8md19KOdMyGMfQde80U8FbYEN84Nm12vnV3KGO78PljvHSyXGbw6MDd-7.0000000073a31990">Cut down 1 lbs of stomach fat every day by obeying this 1 weird rule.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmXX0mUVGmv0ppGZoKNem5mI8uBuBY2XH1l60G6vFNBInnvxAaUy2L8xufrfTKGR_JQc-VQGM3a-Tllf0x6g-X1m8fuWWjES-4r1IFHM8voYFJh4gwcMlqYnEu2xjyXpZ0p2bBakFP4DXKkjqxI67yvGtigsrqKfwoO7nwaNQj8md19KOdMyGMfQde80U8FbYEN84Nm12vnV3KGO78PljvHSyXGbw6MDd-7.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">wu-yisource.com</a></li><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmX9tIyh5Ar9Zr6rMMSnHD5AtMz6OdtdPrDGFe5crFZ_T9zlbqW_JqDWfEdscUsf5S6xf8CoPULJinFIuczEiV-_wvX8gQyLxx6EUzxPz34CBco2LYkYw1rjsdlcWEqDagQ95naREQJWN7kNzIMqfyj-1c1g6OMwT8TwT9df9Q1h-p_zkUga7gnuB9cbzCiFTa-CflEAruE_JQGhtlIJBXkOsBHxoxLEYap.0000000073a31990">Shine On</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmX9tIyh5Ar9Zr6rMMSnHD5AtMz6OdtdPrDGFe5crFZ_T9zlbqW_JqDWfEdscUsf5S6xf8CoPULJinFIuczEiV-_wvX8gQyLxx6EUzxPz34CBco2LYkYw1rjsdlcWEqDagQ95naREQJWN7kNzIMqfyj-1c1g6OMwT8TwT9df9Q1h-p_zkUga7gnuB9cbzCiFTa-CflEAruE_JQGhtlIJBXkOsBHxoxLEYap.0000000073a31990">Lowest Prices Guaranteed 25% Off Sale.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmX9tIyh5Ar9Zr6rMMSnHD5AtMz6OdtdPrDGFe5crFZ_T9zlbqW_JqDWfEdscUsf5S6xf8CoPULJinFIuczEiV-_wvX8gQyLxx6EUzxPz34CBco2LYkYw1rjsdlcWEqDagQ95naREQJWN7kNzIMqfyj-1c1g6OMwT8TwT9df9Q1h-p_zkUga7gnuB9cbzCiFTa-CflEAruE_JQGhtlIJBXkOsBHxoxLEYap.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">ShampooLine.com</a></li><li class='ysmcm-odd'><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmXYc4dje1gWfc6wtJdqfYeuJoriLElfBNQWE-xvcvlVp5N-dSQAFJtYvlgLz7WQBXLVNnPN3IhUvxopYnaTVQC8aYFFcMf6-uI9r9nyY8lO5VtitRC0_041_s2xULb9ysLWLy7d4AT8oG05vaLE4Vw5JtBj33kwTgJiDf-NSF5H-ufPof-fm83WzQoyJfXFsrxobzJR6QU0IXwq1WI-sx8zyBRDCvWM4hj.0000000073a31990">Hey Jessica. Listen Up</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmXYc4dje1gWfc6wtJdqfYeuJoriLElfBNQWE-xvcvlVp5N-dSQAFJtYvlgLz7WQBXLVNnPN3IhUvxopYnaTVQC8aYFFcMf6-uI9r9nyY8lO5VtitRC0_041_s2xULb9ysLWLy7d4AT8oG05vaLE4Vw5JtBj33kwTgJiDf-NSF5H-ufPof-fm83WzQoyJfXFsrxobzJR6QU0IXwq1WI-sx8zyBRDCvWM4hj.0000000073a31990">Be The Woman Struttin Her Stuff! High Fashion Boots. SALE..Come See.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AB578EjMrvmXYc4dje1gWfc6wtJdqfYeuJoriLElfBNQWE-xvcvlVp5N-dSQAFJtYvlgLz7WQBXLVNnPN3IhUvxopYnaTVQC8aYFFcMf6-uI9r9nyY8lO5VtitRC0_041_s2xULb9ysLWLy7d4AT8oG05vaLE4Vw5JtBj33kwTgJiDf-NSF5H-ufPof-fm83WzQoyJfXFsrxobzJR6QU0IXwq1WI-sx8zyBRDCvWM4hj.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">www.BuyHighFashions.com</a></li></ul>

    
    <div></div>
</div>

			    <div id="ylf-mip" class="line">
		<iframe id="ylf-darla-MIP" frameborder="0"></iframe>
		<script language="javascript" type="text/javascript">
		YAHOO.namespace('YAHOO.Lifestyles.MM');
		YAHOO.Lifestyles.MM.loadedMIP = false;
		YAHOO.Lifestyles.MM.loadAdsMIP = function() {
			if (window.YAHOO.ads.darla) {
				YAHOO.ads.darla.setConfig ({ callFrame:"ylf-darla-MIP", callScript:"/darla-fc", rotation:0, autoRotation:false, property:"yliving", destinationMap:{}, events: { "eventMIP":{ lv:2, npv:true, sp:"967143017", ps:"MIP", em:escape('{"site-attribute":"content=no-expandable;", "ad-logoption":"NOINVENTORY"}') } } });
				YAHOO.ads.darla.event ('eventMIP', { lv:2 } );
				YAHOO.util.Event.removeListener( window, "scroll", YAHOO.Lifestyles.MM.loadAdsMIP);
			}
		}
		YAHOO.util.Event.addListener( window, "load", function() { YAHOO.util.Event.addListener( window, "scroll", function() { if(YAHOO.Lifestyles.MM.loadedMIP === false) { YAHOO.Lifestyles.MM.loadedMIP = true; setTimeout(YAHOO.Lifestyles.MM.loadAdsMIP,0); } } ); });</script>
	</div>
		</div>
	</div>

	
	<div id="ylf-foot">	<div class="doc">		<h3 class="foot-logo"><a href="/;_ylt=Ar7wVnu.acQ0gSaTDGh4tflpbqU5" >Shine</a></h3>		<h5 class="foot-yahoo"><a href="http://us.lrd.yahoo.com/_ylt=AidLoD7FdwoOCjif00WQgzVpbqU5/SIG=10qfullpr/**http%3A//www.yahoo.com/" >A Yahoo! Company</a></h5>		<ul class="foot-nav">			<li class="first"><a href="/page/guidelines/;_ylt=Aorcr1H2fdreMix7mLngkqFpbqU5" >Community Guidelines</a></li>			<li><a href="/page/sitemap/;_ylt=AkRSIHvCWBvCRKAbVVWLeMJpbqU5" >Sitemap</a></li>			<li><a href="/page/about/;_ylt=As_4mXpFFUoW2cbs_uS7Z2BpbqU5" >About Us</a></li>			<li class="last"><a href="/page/rss/;_ylt=At22r4KNMCK2RLHMlFbQ7tlpbqU5" >RSS Directory</a></li>		</ul>		<ul class="foot-legal">			<li class="first"><a href="http://us.ard.yahoo.com/SIG=153amqdi1/M=289534.12425434.12800114.12044330/D=yliving/S=967143017:FOOT/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Dx.0C9j8ek4-/J=1233466227920608/A=5279471/R=0/SIG=11ahrrlcd;_ylt=AgrEBkDVhenHnxLsQbBg0JVpbqU5/*http://suggestions.yahoo.com/?prop=shine" >Questions or Comments</a></li>			<li><a href="http://us.ard.yahoo.com/SIG=153amqdi1/M=289534.12425434.12800114.12044330/D=yliving/S=967143017:FOOT/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Dx.0C9j8ek4-/J=1233466227920608/A=5279471/R=1/SIG=11frobg6f;_ylt=AuUzHuXNh.rch42249pkVuVpbqU5/*http://info.yahoo.com/privacy/us/yahoo/shine/" >Privacy Policy</a></li>			<li><a href="http://us.ard.yahoo.com/SIG=153amqdi1/M=289534.12425434.12800114.12044330/D=yliving/S=967143017:FOOT/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Dx.0C9j8ek4-/J=1233466227920608/A=5279471/R=2/SIG=11p8a00jv;_ylt=AvHzFHvd5nlUeKY08qpapONpbqU5/*http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html" >Terms of Service</a></li>			<li><a href="http://us.ard.yahoo.com/SIG=153amqdi1/M=289534.12425434.12800114.12044330/D=yliving/S=967143017:FOOT/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Dx.0C9j8ek4-/J=1233466227920608/A=5279471/R=3/SIG=112aj2pbr;_ylt=ApWg7DQRKV3eBucCqZko1xlpbqU5/*http://info.yahoo.com/copyright/" >Copyright/IP Policy</a></li>			<li class="last"><a href="http://us.ard.yahoo.com/SIG=153amqdi1/M=289534.12425434.12800114.12044330/D=yliving/S=967143017:FOOT/Y=YAHOO/EXP=1233473427/L=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr/B=Dx.0C9j8ek4-/J=1233466227920608/A=5279471/R=4/SIG=118q6ri1v;_ylt=AkM_xSo1yG.jt_ONZLqK9h1pbqU5/*http://help.yahoo.com/l/us/yahoo/shine" >Help</a></li>		</ul>		<p class="foot-copyright">Copyright &copy; 2009 Yahoo! All rights reserved.</p>		<p class="foot-legal">Yahoo! Shine and the blogs, articles, comments and other features therein are for informational purposes only and provided &quot;as is&quot; without warranties, representations, or guarantees of any kind. Content on Yahoo! Shine should never be used as a substitute for advice from a qualified professional. Yahoo! shall not be liable for the accuracy, usefulness or availability of any Shine content, and you agree to hold Yahoo! harmless from any loss, harm, injury or damage resulting from or arising out of your use of or reliance on any Shine content. The views and opinions expressed in an article or column are the author's own and not necessarily those of Yahoo!.</p>	</div></div><script type="text/javascript" src="http://us.js2.yimg.com/us.js.yimg.com/lib/rt/rto1_78.js"></script><script>var rt_page="967143017:FRTMA"; var rt_ip="75.61.78.126"; if ("function" == typeof(rt_AddVar) ){ rt_AddVar("ys", escape("C8ABA342"));}</script><noscript><img src="http://rtb.pclick.yahoo.com/images/nojs.gif?p=967143017:FRTMA"></noscript> <!-- SpaceID=967143017 loc=FSRVY noad -->

<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['GB.0C9j8ek4-']='&U=12d6enufm%2fN%3dGB.0C9j8ek4-%2fC%3d-1%2fD%3dFSRVY%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=142r1bme8%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d1365495932%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=12d6enufm%2fN%3dGB.0C9j8ek4-%2fC%3d-1%2fD%3dFSRVY%2fB%3d-1%2fV%3d0"></noscript><img width="0" height="0" border="0" src="http://media.adrevolver.com/adrevolver/trace?adpath=10204"><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['Fx.0C9j8ek4-']='&U=13fju88oq%2fN%3dFx.0C9j8ek4-%2fC%3d624324.13028962.13235091.12588525%2fD%3dSIP%2fB%3d5509955%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=1424vj5nm%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2819889331%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13fju88oq%2fN%3dFx.0C9j8ek4-%2fC%3d624324.13028962.13235091.12588525%2fD%3dSIP%2fB%3d5509955%2fV%3d1"></noscript><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['Dx.0C9j8ek4-']='&U=13gs8kv5s%2fN%3dDx.0C9j8ek4-%2fC%3d289534.12425434.12800114.12044330%2fD%3dFOOT%2fB%3d5279471%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=142q395ov%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d1236110860%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13gs8kv5s%2fN%3dDx.0C9j8ek4-%2fC%3d289534.12425434.12800114.12044330%2fD%3dFOOT%2fB%3d5279471%2fV%3d1"></noscript>
	<!-- SpaceID=967143017 loc=FCUE noad -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['ER.0C9j8ek4-']='&U=12cf48di9%2fN%3dER.0C9j8ek4-%2fC%3d-1%2fD%3dFCUE%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=142en9au1%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d3622103686%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=12cf48di9%2fN%3dER.0C9j8ek4-%2fC%3d-1%2fD%3dFCUE%2fB%3d-1%2fV%3d0"></noscript>
	<!-- SpaceID=967143017 loc=RICH noad -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['FR.0C9j8ek4-']='&U=12cj4rpg0%2fN%3dFR.0C9j8ek4-%2fC%3d-1%2fD%3dRICH%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=142nbpja9%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2090559039%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=12cj4rpg0%2fN%3dFR.0C9j8ek4-%2fC%3d-1%2fD%3dRICH%2fB%3d-1%2fV%3d0"></noscript>

	
</div>
</body>
</html>
<!-- Shine:myservice-us:0:Success -->

<script language=javascript>
if(window.yzq_p==null)document.write("<scr"+"ipt language=javascript src=http://l.yimg.com/us.js.yimg.com/lib/bc/bc_2.0.4.js></scr"+"ipt>");
</script><script language=javascript>
if(window.yzq_p)yzq_p('P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=13snej1ep%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d1.1%2fW%3dJ%2fY%3dYAHOO%2fF%3d457991397%2fS%3d1%2fJ%3dC8ABA342');
if(window.yzq_s)yzq_s();
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=WiNlO2KIKqhcbnXdSUWfngr3Sz1OfkmFM3MADXmr&T=142gerqo8%2fX%3d1233466227%2fE%3d967143017%2fR%3dyliving%2fK%3d5%2fV%3d3.1%2fW%3dJ%2fY%3dYAHOO%2fF%3d1686387149%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342"></noscript>
<!-- fe3.shine.lifestyles.sp1.yahoo.com compressed/chunked Sat Jan 31 21:30:27 PST 2009 -->


